.modal-overlay {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $z-epsilon;
}

.modal {
    background-color: $white;
    max-width: 600px;
    padding: 30px;
    position: relative;
    width: 100%;
}

.modal--payment {
    background-color: $grey;
    display: none;
    margin: 0 auto;
}

.modal-header {
    padding: 10px 0;
    position: relative;

    &::after {
        border-bottom: 1px solid $grey-dark;
        bottom: 0;
        content: '';
        left: -30px;
        position: absolute;
        width: 600px;
    }
}

.modal-header-section {
    display: inline-block;
}

.modal-body {
    color: #999;
    max-height: 430px;
    overflow-y: auto;
}

.modal-footer {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
}

.modal-close {
    @extend %icon-button;
    max-width: 15px;
    position: absolute;
    right: -20px;
    top: -20px;
}

.modal-billing {
    background: radial-gradient(ellipse at center, rgba(54, 59, 111, 1) 0%, rgba(19, 21, 42, 1) 100%);
    display: block;
    font-family: "OpenSans", sans-serif;

    .modal-overlay-header {
        margin-top: 5%;
        position: relative;
    }

    .modal-overlay-header__title {
        color: $white;
        font-size: 48px;
        margin-bottom: 50px;
        text-align: center;
        text-transform: none;
    }

    .modal-overlay-header__desc {
        color: $neon-blue;
        font-size: 24px;
        margin: 0;
        text-align: center;
    }

    .modal--payment-options {
        margin: 115px auto;
        position: relative;
        width: 450px;
    }

    .modal--payment-options-inner {
        display: flex;
        flex-wrap: row wrap;
    }

    .modal-overlay-options-billing {
        @include padding(1em 0);
        @include transition(background-color, $transition-speed);
        border-bottom: 1px solid $neon-blue;
        border-top: 1px solid $neon-blue;
        color: $white;
        display: inline-block;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        width: 50%;

        &.active {
            background-color: $btn-blue;
        }

        &:nth-child(1) {
            border-bottom-left-radius: 2em;
            border-left: 1px solid $neon-blue;
            border-top-left-radius: 2em;
        }

        &:last-child {
            border-bottom-right-radius: 2em;
            border-left: 1px solid $neon-blue;
            border-right: 1px solid $neon-blue;
            border-top-right-radius: 2em;
        }
    }

    .modal--payment-tooltip {
        @include position(absolute);
        color: $white;
        right: -78px;
        top: -65px;

        &::after {
            @include size(26px 44px);
            @include position(absolute, 22px 20px);
            background-image: url('/assets/img/icon-billing-arrow.svg');
            background-repeat: no-repeat;
            background-size: 100% auto;
            content: '';
        }
    }

    .modal--payment-pricing {
        display: flex;
        flex-wrap: row wrap;
        margin: 0 auto;
        max-width: 600px;
        position: relative;
    }

    .modal--payment-module {
        @include padding(25px 0);
        background-color: $white;
        box-shadow: 0 2px 4px rgba($black, 0.5);
        max-height: 475px;
        position: relative;
        width: 50%;

        &.featured {
            height: 520px;
            margin-top: -23px;
            max-height: 520px;

            .modal--payment-module-header {
                margin-bottom: 48px;

                h1 {
                    color: $white;
                }

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    .modal--payment-module-header {
        color: $btn-blue;
        margin-bottom: 25px;
        text-align: center;

        h1 {
            position: relative;
            text-transform: none;
            z-index: 1;
        }

        &::before {
            @include size(100% 100px);
            @include position(absolute, 0 0);
            background-color: $btn-blue;
            content: '';
            opacity: 0;
            z-index: 0;
        }
    }

    .modal--payment-module-price-wrap h1,
    .modal--payment-module-price-wrap p {
        text-align: center;
    }

    .modal--payment-module-price-wrap span {
        font-size: 16px;
    }

    .modal--payment-module-price-wrap p {
        color: $grey-2;
        margin: 0;
    }

    .modal--payment-module-features {
        margin-top: 25px;

        li {
            color: $grey-2;
            padding: 10px 25px;
            text-align: center;

            &:nth-child(odd) {
                background-color: $grey;
                border-bottom: 1px solid $grey-2;
                border-top: 1px solid $grey-2;
            }
        }
    }

    .modal--payment-module-button {
        @include padding(0.5em 2em);
        display: block;
        margin: 55px auto 25px;
        position: relative;
        width: 180px;
    }

    .modal-body {
        padding: 0;
    }

    .modal-header-plan {
        @include margin(5px null 10px null);
    }

    .modal-close {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .modal-header {
        position: relative;
    }

    .modal-header-price {
        @include position(absolute, 15px 0 null null);
    }

    .modal-billing-options {
        @include clearfix;
    }

    .modal-billing-option {
        @extend %h2;
        display: block;
        float: left;
        text-align: center;
        width: 50%;

        &:first-of-type {
            border-right: 1px solid $black;
        }
    }

    .modal-billing-options--hide {
        display: none;
    }

    .modal-overlay-payment-plan-title {
        text-align: center;
    }

    .modal-overlay-payment-plan-details {
        background-color: rgba($white, 0.8);
        border: 1px solid $grey-dark;
        margin-top: 10px;
    }

    .modal-overlay-payment-plan {
        @include clearfix;
        @include padding(20px null);
    }

    .modal-overlay-payment-inner {
        @include padding(10px);
        display: block;
        float: left;
        text-align: center;
        width: 50%;

        &:first-of-type {
            border-right: 1px solid $grey-dark;
        }
    }

    .modal-overlay-payment-amount {
        @extend %h2;
        color: $black;
        font-weight: bold;
        margin-top: 10px;
    }

    .account-info-section {
        margin-top: 0;

        // &:first-of-type {
        //     display: none;
        // }

        .account-info-data {
            border-bottom: 1px solid $grey-dark;

            @include placeholder {
                color: $grey-darkest;
            }
        }

        .account-info-data--number,
        .account-info-data--name {
            margin-right: 5%;
            width: 50%;
        }

        .account-info-data--month,
        .account-info-data--year,
        .account-info-data--cvc,
        .account-info-data--zip {
            margin-right: 5%;
            width: 20%;
        }

        .account-info-data--year,
        .account-info-data--zip {
            margin-right: 0;
        }
    }

    .account-info-section--submit {
        margin-top: 20px;
    }

}

@include media($tablet) {

    .modal-launch--container {

        padding-top: $header-height-tablet + 60px;
    }
}

@include media($phablet) {
    .modal {
        max-width: 400px;
        padding: 10px;
    }

    .modal-header::after {
        left: -10px;
        width: 400px;
    }
}

@include media($mobile) {
    .modal-body {
        height: 100%;
        max-width: 100%;
    }

    .modal-footer {
        margin-top: 15px;
    }
}
