*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
}

body {
    background-color: $grey;
}

html {
    color: $black;

    &.no-touch {
        overflow-y: scroll;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

a,
button {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
