//adding this because its prevalent in this project but not universal or wildcard worthy.
%uppercase {
    text-transform: uppercase;
}

// Reset headings
h1,
h2,
h3,
h4,
h5,
h6,
%headline,
button {
    @extend %uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

p,
%p,
a,
button {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

%small {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

%h1 {
    font-size: 20px;
    font-weight: bold;
}

%h2 {
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, grayscale, moz);

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

%h3 {
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, grayscale, moz);

    color: #95959F;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: none;
}

%h7 {
    @include prefixer(font-smoothing, antialiased, webkit);
    @include prefixer(osx-font-smoothing, grayscale, moz);

    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 300;
}

@include media($tablet) {

    %h1 {
        font-size: 15px;
    }

    %h2 {
        font-size: 18px;
    }
}

@include media($phablet) {

    %h1 {
        font-size: 12px;
    }

    %h2 {
        font-size: 15px;
    }

    %h7 {
        font-size: 9px;
    }
}


