//adding this because its prevalent in this project but not universal or wildcard worthy.
%uppercase {
    text-transform: uppercase;
}

// Reset headings
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

a {
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

%h1 {
    font-size: 20px;
    font-weight: bold;
}

@include media($tablet) {

    %h1 {
        font-size: 15px;
    }
}

@include media($phablet) {

    %h1 {
        font-size: 12px;
    }
}


