.home {
    @include animated-gradient-background((#5de0e9, #ec39e5, #5b9df9, #ec39e5, #5de0e9));
    min-height: 100vh;

    .form-group {
        border-bottom: 1px solid #000;
    }

    .modal-input {
        @include margin(0 null null 25px);
        border: none;
        display: inline-block;

        @include placeholder {
            color: #a3a3ac;
        }
    }
}

.home-logo-link {
    @include position(relative, 150px null null);
    text-align: center;

    .logo {
        width: 250px;

        .vg-logo {
            @include size(100%);
        }
    }
}

.home-modal-overlay {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-epsilon;
}

.home__modal {
    @include size(200px);
    background-color: #fff;

    .modal-overlay {
        background-color: rgba(0, 0, 0, 0);
    }
}

.input-icon {
    @include position(relative, 30px null null);
    display: inline-block;
}

@include media($phablet) {

    .home-modal-overlay {
        @include padding(null 20px);
    }

    .home-logo-link {
        @include position(relative, 75px null null);

        .logo {
            width: 125px;

            .vg-logo {
                @include size(100%);
            }
        }
    }

}
