<div class="home">
    <div class="home-inner">
        <div
            class="home-logo-link"
            href="#">
            <img
                class="logo"
                src="assets/img/vg-logo-new.svg">
        </div>
        <div class="home-modal-overlay">
            <div class="modal">
                <form ng-submit="login(model)">
                    <div class="modal-header">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <img
                                class="input-icon"
                                src="assets/img/icon-email.png">
                            <input
                                class="modal-input"
                                placeholder="Email address"
                                value=""
                                type="email"
                                ng-model="model.email"
                                required />
                        </div>
                        <div class="form-group">
                            <img
                                class="input-icon"
                                src="assets/img/icon-password.png">
                            <input
                                class="modal-input"
                                placeholder="Password"
                                value=""
                                type="password"
                                ng-model="model.password"
                                required />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            class="modal-submit modal-button"
                            type="submit"
                            ng-disabled="loginForm.$invalid">
                            Submit
                        </button>
                    </div>
                    <div
                        ng-if="loginError"
                        class="home-modal-error"
                        login-error-message>
                        The email and password you entered don't match. Please try again.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
