<div class="home">
    <div class="home-inner">
        <div
            class="home-logo-link"
            href="#">
            <img
                class="logo"
                src="assets/img/vg-logo-new.svg">
        </div>
        <div class="home-modal-overlay">
            <div class="modal">
                <form ng-submit="login(model)">
                    <div class="modal-header">
                        <h3>{{ page.header }}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <img
                                class="input-icon"
                                src="assets/img/icon-email.png">
                            <input
                                class="modal-input"
                                placeholder="{{ page.email }}"
                                value=""
                                type="text"
                                ng-model="model.email" />
                        </div>
                        <div class="form-group">
                            <img
                                class="input-icon"
                                src="assets/img/icon-password.png">
                            <input
                                class="modal-input"
                                placeholder="{{ page.password }}"
                                value=""
                                type="password"
                                ng-model="model.password" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            class="modal-submit modal-button"
                            type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
