<div class="viewer">
    <div
        pano
        use-vr="useVr"
        background="background"
        backgroundImage="backgroundImage"
        pano-content="currentScenePanels"
        scene-type="currentScene.scene_type"
        hotspot-type="currentScene.hotspot_type"
        equirectangular-background-image="currentScene.equirectangular_background_image"
        is-panorama="currentScene.is_panorama">
    </div>
    <div class="viewer__nav">
        <a
            class="viewer__exit"
            ng-if="!useVr && !isPublic"
            ng-click="exit()">Exit</a>
        <a
            ng-click="toggleCardboard()"
            ng-if="touch"
            class="viewer__toggle"
            ng-class="{'cardboard-icon--selected': useVr}">
            <img class="cardboard-icon" src="assets/img/cardboard.svg" />
        </a>
    </div>
</div>
 t
