.viewer__nav {
    @include position(fixed, null 15px 15px null);
    z-index: 10;

    > * {
        float: left;
    }
}

.viewer__toggle {
    color: #fff;
}

.viewer__exit {
    border: 1px solid $white;
    color: #fff;
    margin-right: 20px;
    margin-top: 16px;
    padding: 2px 12px;
}

.viewer__cta {
    @include transition(fill 0.3s ease-in-out);
    fill: rgba($white, 0.7);
    margin-right: 20px;
    margin-top: 10px;
    padding: 6px 12px;

    &:hover {
        fill: rgba($white, 1);
    }
}

.cardboard-icon {
    width: 30px;
}

.cardboard-icon--selected {
    opacity: 0.3;
}

@include media($phablet) {
    .viewer__exit {
        font-size: 11px;
        margin-top: 18px;
        padding: 2px 8px;
    }
}
