.add-menu--button {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background: $btn-blue;
    border-radius: 50%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.5);
    height: 60px;
    position: absolute;
    right: $site-gutter;
    top: -30px;
    transition: transform $transition-speed $power2-ease-out;
    width: 60px;
    z-index: $z-epsilon;

    &.open {
        transform: rotate(-45deg);
        transition: transform $transition-speed $power2-ease-out;
    }
}

.plus-icon {
    @include position(absolute, 50% 50%);
    @include size(25px 25px);
    background: url('/assets/img/plus.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: translate(-50%, -50%);
}

.add-menu--container {
    left: 0;
    margin-top: $header-height-desk;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-epsilon;
}

.add-menu-button--wrapper {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-end);
    @include outer-container;
    padding-right: $site-gutter;
    position: relative;
    width: 100%;
}

.modal-launch--container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    left: 0;
    padding-top: $header-height-desk + 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-delta;

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: opacity $transition-speed $power2-ease-out;
    }

    &.ng-hide {
        opacity: 0;
    }
}


.modal-launch--buttons {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-end);
    @include outer-container;
    padding-right: $site-gutter * 2;
    width: 100%;
}

.add-item--button {
    @include display(inline-flex);
    @include align-items(center);
    -webkit-appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    color: $white;
    margin-bottom: 20px;
    outline: 0;
    padding: 10px;
    white-space: nowrap;
}

.add-item--icon {
    margin-left: 10px;
    max-width: 25px;
}


.modal-overlay {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: $z-epsilon;
}

.modal {
    background-color: $white;
    max-width: 600px;
    padding: 30px;
    position: relative;
    width: 100%;
}

.modal-header {
    padding: 10px 0;
    position: relative;

    &::after {
        border-bottom: 1px solid $grey-dark;
        bottom: 0;
        content: '';
        left: -30px;
        position: absolute;
        width: 600px;
    }
}

.modal-body {
    color: #999;
    max-height: 430px;
    overflow-y: auto;
    padding: 20px 0;
    width: 105%;
}

.modal-footer {
    @include display(flex);
    @include justify-content(space-around);
    @include align-items(center);
}

.modal-close {
    @extend %icon-button;
    max-width: 15px;
    position: absolute;
    right: -20px;
    top: -20px;
}

.modal-button {
    @extend %reset-button;
    @extend %modal-button;

    + .modal-button {
        margin-left: 10px;
    }
}

.modal-submit {
    background: $btn-blue;
}

.modal-cancel {
    background: $grey-dark;
}

.modal-delete {
    background: $red;
}

.modal-accept {
    background: $btn-blue;
}

.modal-label {
    display: none;
}

.modal-input {
    border: none;
    border-bottom: 1px solid $input-grey;
    margin-top: 20px;
    outline: 0;
    padding: 10px 0;
    width: 100%;
}

@include media($tablet) {

    .add-menu--container {
        margin-top: 0;
    }

    .add-menu--button {
        @include size(36px 36px);
        background-color: rgba($btn-blue, 0);
        border: 2px solid $btn-blue;
        top: 21px;
    }

    .plus-icon {
        @include size(20px 20px);
        background: url('/assets/img/plus-blue.svg');
        right: 25px;
    }

    .modal-launch--container {
        padding-top: $header-height-tablet + 60px;
    }
}

@include media($phablet) {
    .modal {
        max-width: 400px;
    }

    .modal-header::after {
        width: 400px;
    }
}

@include media($mobile) {
    .modal-body {
        height: 100%;
        max-width: 100%;
    }

    .modal-footer {
        margin-top: 15px;
    }
}
