<div role="radio" class="toggle-switch" ng-class="{ 'disabled' : disabled, 'color': color }">
    <div class="toggle-switch__animate" ng-class="{ 'switch-off': !model, 'switch-on': model }">
        <span class="toggle-switch__label toggle-switch__label--left" ng-bind="onLabel"></span>
        <div class="toggle-switch__bar-wrap">
            <span class="toggle-switch__bar"></span>
            <span class="toggle-switch__button"></span>
        </div>
        <span class="toggle-switch__label toggle-switch__label--right" ng-bind="offLabel"></span>
    </div>
</div>
