.projects {
    @include outer-container;
    @include padding(50px $site-gutter null);
}

.project-details {
    @include justify-content(space-between);
    @include display(flex);
}

.scene-nav {
    @extend %uppercase;
}

.scene-list--link {
    @include padding(10px 5px);
    color: $black;
    display: block;
    text-decoration: none;

    &:hover {
        background-color: $grey-dark;
        border-radius: 2px;
    }

    &.active {
        background-color: $grey-dark;
        border-radius: 2px;
    }
}

.scene-add {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include padding(5px);
    color: $btn-blue;
    margin-top: 20px;
}

.vg__item--wrapper {
    margin: 0 10px 20px;
    max-width: 240px;
    position: relative;
}

.scene--wrapper {
    &::before {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        background: $btn-blue;
        border: 2px solid $white;
        border-radius: 3px;
        color: $white;
        content: counter(sceneImage);
        counter-increment: sceneImage;
        font-size: 12px;
        height: 20px;
        margin-left: -2px;
        margin-top: -2px;
        position: absolute;
        width: 20px;
        z-index: $z-alpha;
    }
}

.vg__image {
    height: auto;
    max-width: 100%;
}

.vg__items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    counter-reset: sceneImage;
    width: 100%;
}

.vg__image--caption {
    @include padding(10px 10px 20px);
}

.vg__image--wrapper {
    position: relative;
}

.search-icon {
    opacity: 0;
    transform: scale(2);
    transition: all $transition-speed $power2-ease-out;
}

.search-icon---container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.scene-preview__icon {
    @include display(flex);
    @include justify-content(center);
    height: inherit;
    max-width: 50px;
    width: 100%;
}

.vg__item--link {
    display: inline-block;
}

.scene--link:hover {

    @extend %item-box-shadow;

    .search-icon {
        opacity: 1;
        transform: scale(1);
    }
}


.scene-nav,
.scene-preview {
    max-width: 240px;
    width: 100%;
}

.scene-preview {
    text-align: center;
}

.scene-preview--widget {
    @include padding(20px 20px 40px);
    background-color: $grey-dark;
    margin-bottom: 40px;
}

.scene-preview__button {
    @extend %reset-button;
    @include display(flex);
    @include align-items(center);
    background-color: $pink;
    border-radius: 4px;
    color: $white;
    height: 60px;
    text-align: center;

    + .scene-preview__button {
        margin-top: 20px;
    }
}

.add-icon {
    margin-right: 10px;
    max-width: 25px;
}

.mobile-icon {
    max-width: 15px;
}

.cardboard-icon {
    max-width: 25px;
}

.preview-icon {
    margin-top: 50px;
    max-width: 100%;
}
