.projects {
    @include transition(left, $transition-speed);
    @include outer-container;
    @include padding(50px $site-gutter 50px);
    left: 0;
    position: relative;

    &.slide-menu-open {
        left: 60%;
    }
}

.projects-paid-plan-cta {
    @include padding(15px 10px);
    border: 1px solid $pink;
    color: $pink;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}

.projects-paid-plan-cta-bold__link {
    @extend %reset-button;
    background-color: rgba($white, 0);
    color: $btn-blue;
    text-decoration: underline;
    text-transform: none;
    width: auto;
}

.projects-paid-plan-cta-bold {
    font-weight: bold;
}

.projects-paid-plan-cta-button {
    @extend %icon-button;
    max-width: 15px;
    position: absolute;
    right: 15px;
}

.vg__item--wrapper {
    margin-bottom: $item-wrapper-margin-desk;
    position: relative;
}

.vg__item--wrapper-fade {
    opacity: 0.5;

    &:nth-child(1) {
        opacity: 1;
    }
}

.vg__image {
    background-color: $navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
}

.vg__items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include flex(1);
    counter-reset: sceneImage;
    width: 100%;
}

.vg__item--link {
    color: $black;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

.vg__image--caption {
    @include padding(10px 10px 15px 10px);
    font-size: 14px;
    position: relative;
}

.vg__image--caption-name {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 15px;
    padding-right: 30px;
    word-break: break-word;
}

.vg__image--caption-tag {
    color: $grey-darkest;
    font-size: 12px;
    line-height: 1;
    margin-left: 20px;
    text-transform: uppercase;

    &::before {
        background: url('../assets/img/link-grey.svg') no-repeat;
        background-size: 100% auto;
        content: '';
        height: 10px;
        left: 10px;
        position: absolute;
        width: 10px;
    }
}

.vg__image--wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 90%;
    position: relative;
}

.project__item--delete {
    @extend %icon-button;
    bottom: 15px;
    position: absolute;
    right: 5px;
    width: 20px;
}

.project-delete_icon {
    width: 10px;
}

.project--link {
    @extend %item-box-shadow;
}

.project--wrapper {
    margin-right: 2.5%;
    width: 18%;

    &:nth-child(5n) {
        margin-right: 0;
    }
}

.btn-add {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include padding(5px);
    color: $btn-blue;
    margin-top: 20px;
    text-align: center;

    .add-icon {

        margin-right: 10px;
        max-width: 25px;
    }
}

.btn-plus {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    @include padding(5px);
    color: $white;
    margin-top: 20px;
    text-align: right;

    .add-icon {
        margin-left: 10px;
        max-width: 25px;
    }
}


@include media($tablet) {
    .projects {
        padding: 110px 30px 50px;
        width: 100%;
    }

    .vg__items {
        display: block;
        width: 100%;
    }

    .vg__item--wrapper {
        display: inline-block;
        margin-right: 0;
        width: calc(50% - #{$item-wrapper-margin-tablet});

        &:nth-child(odd) {
            margin-right: $item-wrapper-margin-tablet * 2;
        }
    }

    .vg__image--wrapper {
        height: 240px;
    }

    .vg__items {
        @include justify-content(space-between);
    }
}

@include media($phablet) {

    .vg__item--wrapper {
        width: 100%;
    }

}
