.projects {
    @include outer-container;
    @include padding(50px $site-gutter null);
}

.vg__item--wrapper {
    margin-bottom: $item-wrapper-margin-desk;
    margin-right: $item-wrapper-margin-desk;
    position: relative;
    width: 240px;

    @include media($tablet) {
        margin-right: 0;
        width: calc(50% - #{$item-wrapper-margin-tablet});
    }

    @include media($phablet) {
        width: 100%;
    }
}

.vg__image {
    height: auto;
    width: 100%;
}

.vg__items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    counter-reset: sceneImage;
    width: 100%;

    @include media($tablet) {
        @include justify-content(space-between);
    }
}

.vg__item--link {
    display: inline-block;
    width: 100%;
}

.vg__image--caption {
    @include padding(10px 10px 20px);
}

.vg__image--wrapper {
    position: relative;
}

.project--link {
    @extend %item-box-shadow;
}

.project--wrapper {

    &:nth-child(5) {
        margin-right: 0;
    }
}
