.projects {
    @include outer-container;
    @include padding(50px $site-gutter 50px);
    position: relative;
}

.vg__item--wrapper {
    margin-bottom: $item-wrapper-margin-desk;
    margin-right: $item-wrapper-margin-desk;
    position: relative;
    width: 240px;
}

.vg__image {
    background-color: $navy;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.vg__items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include flex(1);
    counter-reset: sceneImage;
    width: 100%;
}

.vg__item--link {
    display: inline-block;
    width: 100%;
}

.vg__image--caption {
    @include padding(10px 10px 20px);
}

.vg__image--wrapper {
    height: 185px;
    overflow: hidden;
    position: relative;
}

.project__item--delete {
    @extend %icon-button;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    z-index: $z-beta;
}

.project-delete_icon {
    width: 20px;
}

.project--link {
    @extend %item-box-shadow;
}

.project--wrapper {

    &:nth-child(5) {
        margin-right: 0;
    }
}

.btn-add {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include padding(5px);
    color: $btn-blue;
    margin-top: 20px;
    text-align: center;

    .add-icon {

        margin-right: 10px;
        max-width: 25px;
    }
}

.btn-plus {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-end);
    @include padding(5px);
    color: $white;
    margin-top: 20px;
    text-align: right;

    .add-icon {
        margin-left: 10px;
        max-width: 25px;
    }
}


@include media($tablet) {

    .vg__item--wrapper {
        margin-right: 0;
        width: calc(50% - #{$item-wrapper-margin-tablet});
    }

    .vg__image--wrapper {
        height: 240px;
    }

    .vg__items {
        @include justify-content(space-between);
    }
}

@include media($phablet) {

    .vg__item--wrapper {
        width: 100%;
    }

}
