<div header header-title-data="title"></div>
<div ui-view class="projects" ng-class="{'slide-menu-open' : showMobileMenu}">
    <div  class="vg__items">
        <figure
            ng-repeat="project in projects"
            class="vg__item--wrapper project--wrapper">
            <button
                class="project__item--delete"
                ng-click="deleteProject(project.id)">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a
                class="vg__item--link project--link"
                ui-sref="projects.details({ projectId: project.id })">
                <div class="vg__image--wrapper">
                    <div
                        class="vg__image"
                        ng-style="{'background-image':'url({{project.cover_image}})'}">
                    </div>
                </div>
                <figcaption class="vg__image--caption">
                    {{project.name}}
                </figcaption>
            </a>
        </figure>
    </div>
</div>
