.header {
    background: $navy;
    color: $white;

    &::after {
        @extend %gradient;
        content: '';
        display: block;
        height: 3px;
        position: relative;
        width: 100%;
    }
}

.header__container {
    @include outer-container;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include padding($site-gutter 30px 40px);
    height: $header-height-desk;
}

.header__meta {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
}

.logo {
    width: $logo-width;
}

.menu-button {
    @extend %icon-button;
    display: none;
    width: 20px;
}

.menu-icon {
    height: 20px;
    width: 20px;
}

.breadcrumb {
    @extend %h2;
    @extend %uppercase;
    display: inline-block;

    + .breadcrumb {
        margin-left: 5px;

        &::before {
            content: '›';
            margin-right: 5px;
        }
    }
}

.breadcrumb__link {
    @include transition(color 0.25s ease-out);
    color: $btn-blue;
    font-size: 24px;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

.menu-container {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    left: 0;
    padding-top: $header-height-desk;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $z-epsilon;

    &.ng-hide-add,
    &.ng-hide-remove {
        transition: opacity $transition-speed $power2-ease-out;
    }

    &.ng-hide {
        opacity: 0;
    }
}

.menu-list {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(flex-start);
    @include outer-container;
    padding-left: $site-gutter;
    width: 100%;
}

.menu-list--item {
    margin: 5px 0;
}

.menu-link {
    @extend %uppercase;
    color: $white;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
}

.user-login {
    color: $pink;
}

.close-menu-button {
    @extend %icon-button;
    left: 31px;
    position: absolute;
    top: 29px;
    width: 20px;
}

.account-name {
    text-transform: none;
}

@include media($tablet) {

    .header__container {
        @include justify-content(center);
        @include align-items(flex-end);
        height: $header-height-tablet;
        margin-left: -($logo-width / 2);
        padding: (0 $site-gutter 0 0);
    }

    .header__meta {
        width: 50%;
    }

    .menu-button {
        display: inline-block;
        left: $site-gutter;
        position: absolute;
    }

    .breadcrumb {
        display: none;
    }

    .menu-container {
        padding-top: $header-height-tablet;
    }

    .user-login {
        display: none;

        &.mobile {
            display: inline-block;
        }
    }
}
