.header {
    background: $navy;
    color: $white;

    &::after {
        @extend %gradient;
        content: '';
        display: block;
        height: 3px;
        position: relative;
        width: 100%;
    }
}

.header__container {
    @include outer-container;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include padding($site-gutter 30px 40px);
    height: $header-height-desk;
}

.header__meta {
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
}

.user__login {
    @extend %uppercase;
    color: $pink;
    position: relative;
    text-decoration: none;
    top: -15px;

    &:hover {
        text-decoration: underline;
    }
}

.logo {
    width: $logo-width;
}

.back-button {
    @extend %icon-button;
    display: none;
    width: auto;
}

.back-icon {
    height: 30px;
}

.breadcrumb {
    @extend %h2;
    @extend %uppercase;
    display: inline-block;

    + .breadcrumb {
        margin-left: 5px;

        &::before {
            content: '›';
            margin-right: 5px;
        }
    }
}

.breadcrumb__link {
    @include transition(color 0.25s ease-out);
    color: $btn-blue;
    font-size: 24px;
    text-decoration: none;

    &:hover {
        color: $white;
    }
}

@include media($tablet) {

    .header__container {
        @include justify-content(center);
        @include align-items(flex-end);
        height: $header-height-tablet;
        margin-left: -($logo-width / 2);
        padding: (0 $site-gutter 0 0);
    }

    .header__meta {
        width: 50%;
    }

    .back-button {
        display: inline-block;
        left: $site-gutter;
        position: absolute;
    }

    .breadcrumb {
        display: none;
    }
}
