<header class="header">
    <div class="header__container">
        <div class="header__meta">
            <button class="back-button" ng-show="backButtonToggle" ng-click="goBack()">
                <img class="back-icon" src="assets/img/back.svg" />
            </button>
            <a class="logo-link" href="#">
                <img class="logo" src="assets/img/vg-logo.svg">
            </a>
            <a
            	ng-if="!basic"
            	href="#"
            	class="user__login">Logout</a>
        </div>
        <span ng-if="!basic">
        <breadcrumbs></breadcrumbs>
        </span>
    </div>
</header>

