<header class="header">
    <div class="header__container">
        <div class="header__meta">
            <a class="back-button" ui-sref="projects" ng-hide="backButtonHide">
                <img class="back-icon" src="assets/img/back.svg" />
            </a>
            <a class="logo-link" ui-sref="projects">
                <img class="logo" src="assets/img/vg-logo.svg">
            </a>
            <a
            	ng-if="!basic"
            	ng-click="logout()"
            	class="user__login">Logout</a>
        </div>
        <span ng-if="!basic">
            <span class="breadcrumb"><a class="breadcrumb__link" ui-sref="projects">My Projects</a></span>
            <span class="breadcrumb" ng-if="projectTitle != ''">{{projectTitle}}</span>
        </span>
    </div>
</header>

