.hotspots {
    user-select: none;

    .editor {
        overflow: hidden;
        position: relative;
    }

    .hotspot {
        @include transition(border 0.25s ease-out, background 0.25s ease-out);
        background: red;
        background: rgba(86,224,234,0.25);
        border: 2px solid rgba(86,224,234,0.50);
        cursor: move;
        position: absolute;
        z-index: 2;

        &.dropped {
            background: rgba(86,224,234,0.50);
            border: 2px solid #56E0EA;
            min-height: 50px;
            min-width: 50px;
        }
    }

    .hotspot__image {
        cursor: crosshair;
        position: relative;
        width: 100%;
        z-index: 1;
    }

    .hotspot-details {
       // display: none;
    }
}
