<main
    class="project-details__container"
    ngf-drop
    ng-model="files"
    ngf-drag-over-class="'dragover'"
    ngf-multiple="true"
    ngf-allow-dir="true"
    accept="image/*"
    ngf-pattern="'image/*'">
    <div
        class="project-details"
        ng-class="emptyScene ? 'empty' : ''">
        <nav class="scene-nav">
            <div
                class="scene-nav--selector"
                ng-click="toggleSceneList()">
                Scene {{currentScene}}
            </div>
            <ul
                class="scene-list"
                ng-class="{'active':showSceneList}">
                <li
                    class="scene-list--item"
                    ng-repeat="i in getScene(scenes) track by $index">
                    <a
                        ng-click="changeScene($index + 1)"
                        ng-class="{'active' : (currentScene === ($index + 1))}"
                        class="nav-item">
                        Scene {{$index + 1}}
                    </a>
                </li>
            </ul>
            <button
                ng-click="addScene()"
                class="scene-add">
                <img
                    class="add-icon"
                    src="assets/img/add.svg" />
                Add Scene
            </button>
        </nav>
        <div
            class="vg__items project__items"
            as-sortable="dragControlListeners"
            is-disabled="hasTouch"
            ng-model="currentSceneScreens"
            ng-show="!emptyScene">
            <figure
                ng-repeat="screen in currentSceneScreens"
                as-sortable-item
                class="vg__item--wrapper scene--wrapper">
                <a
                    class="vg__item--link scene--link"
                    as-sortable-item-handle>
                    <div class="vg__image--wrapper">
                        <div
                            class="vg__image"
                            ng-style="{'background-image':'url({{screen.url + '?fm=jpg&w=240&h=180&fit=crop&q=90'}})'}">
                        </div>
                        <div
                            class="link-icon---container"
                            ng-click="linkContent(screen)">
                            <img
                                class="link-icon"
                                src="assets/img/link.svg" />
                        </div>
                    </div>
                    <figcaption class="vg__image--caption">
                        <div class="vg__image--caption-name">
                                {{screen.screenName}}
                        </div>
                        <div
                            class="vg__image--caption-tag"
                            ng-if="screen.related_tag && screen.related_tag > 0">
                            Scene {{screen.related_tag}}
                        </div>
                        <button
                            class="scene__item--delete"
                            ng-click="deleteScreen(screen.id)">
                            <img
                                class="scene-delete_icon"
                                src="assets/img/delete.svg" />
                        </button>
                    </figcaption>
                </a>
            </figure>
        </div>
        <div
            class="scene-preview"
            ng-show="!emptyScene">
            <div class="scene-preview--widget">
                <div class="scene-preview__header">
                    <div class="toggle">
                        <div class="toggle-switch__icon poly"></div>
                        <toggle-switch
                            ng-model="sceneTypeToggle">
                        </toggle-switch>
                        <div class="toggle-switch__icon pano"></div>
                    </div>
                </div>
                <div class="scene-preview__display">
                    <div ng-if="currentSceneScreens.length === 1 || (currentSceneScreens.length > 2 && currentSceneScreens.length < 7)">
                        <img class="preview-icon" ng-src="assets/img/{{currentSceneScreens.length}}.png">
                    </div>
                    <div ng-if="currentSceneScreens.length > 6">
                        <p>We recommend you keep your scene under 7 panels</p>
                    </div>
                    <div ng-if="currentSceneScreens.length < 3 && currentSceneScreens.length > 1">
                        <p>We recommend you add at&nbsp;least 3 panels</p>
                    </div>
                    <h5>Preview</h5>
                </div>
                <div class="scene-preview__color-picker">
                    <h5 class="scene-preview__section-title">Scene Background</h5>
                    <div class="scene-preview__color-style-wrap">
                        <span class="scene-preview__color-style-button" id="scene-preview__color-style-color"></span>
                        <span class="scene-preview__color-style-button" id="scene-preview__color-style-gradient"></span>
                        <span class="scene-preview__color-style-button" id="scene-preview__color-style-image"></span>
                    </div>
                    <div class="scene-preview__color-picker-wrap">
                        <color-picker
                            ng-model="myColor"
                            options="colorOptions">
                        </color-picker>
                    </div>
                </div>
                <div class="scene-preview__privacy">
                    <div class="toggle">
                        <toggle-switch
                            ng-model="projectPrivacyToggle"
                            color="true"
                            on-label="Public"
                            off-label="Private">
                        </toggle-switch>
                    </div>
                </div>
            </div>
            <button
                ui-sref="viewer({version: 'mobile', scene: currentScene, projectId: projectId})"
                class="scene-preview__button">
                <span class="scene-preview__icon">
                    <img
                        class="mobile-icon"
                        src="assets/img/mobile.svg" />
                </span>
                Launch Scene
            </button>
        </div>
        <div
            class="drop-box--container"
            ng-class="emptyScene ? 'empty' : ''">
            <div class="drop-box">
                <h1 class="drop-box__header">
                    Drag images here to create your scene
                </h1>
                <button
                    id="uploadInput"
                    ngf-select
                    ng-model="files"
                    ngf-multiple="true"
                    accept="image/*"
                    ngf-pattern="'image/*'"
                    class="drop-box__button">
                    Upload Files
                </button>
            </div>
        </div>
        <div class="mobile-btn-container">
            <button
                ngf-select
                ng-model="files"
                ngf-multiple="true"
                accept="image/*"
                ngf-pattern="'image/*'"
                class="drop-box__button drop-box__button--mobile">
                Upload Files
            </button>
            <button
                ui-sref="viewer({version: 'mobile', scene: currentScene, projectId: projectId})"
                class="scene-preview__button scene-preview--mobile">
                <span class="scene-preview__icon">
                    <img
                        class="mobile-icon"
                        src="assets/img/mobile.svg" />
                </span>
                Launch Scene
            </button>
        </div>
    </div>
</main>
