.project-details {
    @include justify-content(space-between);
    @include display(flex);
}

.scene-nav {
    @extend %uppercase;
}

.scene-list--link {
    @include padding(10px 5px);
    color: $black;
    display: block;
    text-decoration: none;

    &:hover {
        background-color: $grey-dark;
        border-radius: 2px;
    }

    &.active {
        background-color: $grey-dark;
        border-radius: 2px;
    }
}

.scene-add {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include padding(5px);
    color: $btn-blue;
    margin-top: 20px;
}

.scene--wrapper {

    &::before {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        background: $btn-blue;
        border: 2px solid $white;
        border-radius: 3px;
        color: $white;
        content: counter(sceneImage);
        counter-increment: sceneImage;
        font-size: 12px;
        height: 20px;
        margin-left: -2px;
        margin-top: -2px;
        position: absolute;
        width: 20px;
        z-index: $z-alpha;
    }
}

.search-icon {
    opacity: 0;
    transform: scale(2);
    transition: all $transition-speed $power2-ease-out;
}

.search-icon---container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.scene--link:hover {

    @extend %item-box-shadow;

    .search-icon {
        opacity: 1;
        transform: scale(1);
    }
}

.scene-nav,
.scene-preview {
    max-width: 240px;
    width: 100%;
}

.scene-preview {
    text-align: center;
}

.scene-preview--widget {
    @include padding(20px 20px 40px);
    background-color: $grey-dark;
    margin-bottom: 40px;
}

.scene-preview__icon {
    @include display(flex);
    @include justify-content(center);
    height: inherit;
    max-width: 50px;
    width: 100%;
}

.scene-preview__button {
    @extend %reset-button;
    @include display(flex);
    @include align-items(center);
    background-color: $pink;
    border-radius: 4px;
    color: $white;
    height: 60px;
    text-align: center;

    + .scene-preview__button {
        margin-top: 20px;
    }
}

.add-icon {
    margin-right: 10px;
    max-width: 25px;
}

.mobile-icon {
    max-width: 15px;
}

.cardboard-icon {
    max-width: 25px;
}

.preview-icon {
    margin-top: 50px;
    max-width: 100%;
}

@include media($tablet) {

    .project-details {
        @include flex-direction(column);
    }

    .scene-nav {
        display: none;
    }

    .scene--link {
        @include item-box-shadow;
    }

    .scene-preview {
        max-width: 100%;
    }

    .scene-preview--widget {
        display: none;
    }

    .scene-preview__button {
        @include justify-content(center);
    }
}

.drop-box--container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include margin(50px 50px null);
    border: 2px dashed $pink;
    color: $pink;
    cursor: pointer;
    height: 100%;
    text-align: center;
    width: 100%;
}

.drop-box__button {
    @extend %reset-button;
    background-color: $btn-blue;
    border-radius: 2px;
    color: $white;
    height: 40px;
    margin-top: 40px;
    width: 160px;
}

