.project-details {
    @include justify-content(space-between);
    @include display(flex);
    @include flex-wrap(wrap);

    &.empty {
        @include flex-wrap(nowrap);
    }
}

.scene-nav {
    @extend %uppercase;
}

.scene-list {
    @include size(240px auto);
    position: relative;
}

.scene-list--item {
    @include position(relative);

    &:hover {
        .scene-list--link {
            background-color: $grey-dark;
            border-radius: 2px;
        }

        .scene-list--icon {
            opacity: 1;
        }
    }
}

.scene-list--link {
    @include margin(0 20px 0 0);
    @include padding(10px 5px);
    color: $black;
    display: block;
    text-decoration: none;

    &.active {
        background-color: $grey-dark;
    }
}

.scene-list--title {
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    width: 170px;
}

.scene-list--icon {
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0;
    position: absolute;
    top: 12px;
}

.scene-list--delete {
    @include size(10px 16px);
    background-image: url('/assets/img/delete.svg');
    right: 30px;
}

.scene-list--edit {
    @include size(14px 14px);
    background-image: url('/assets/img/icon-edit.svg');
    right: 50px;
}

.scene-nav--selector {
    display: none;
}

.scene-add {
    @extend %icon-button;
    @include display(flex);
    @include align-items(center);
    @include padding(5px);
    color: $btn-blue;
    margin-top: 20px;
}

.scene--wrapper {
    margin-right: 3.333%;
    width: 30%;

    &::before {
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        background: $btn-blue;
        border: 2px solid $white;
        border-radius: 3px;
        color: $white;
        content: counter(sceneImage);
        counter-increment: sceneImage;
        font-size: 12px;
        height: 20px;
        margin-left: -2px;
        margin-top: -2px;
        position: absolute;
        width: 20px;
        z-index: $z-alpha;
    }
}

.link-icon {
    max-width: 70px;
    opacity: 0;
    transform: scale(2);
    transition: all $transition-speed $power2-ease-out;
}

.link-icon---container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    background-color: none;
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all $transition-speed $power2-ease-out;
    width: 100%;
}

.scene--link:hover {

    @extend %item-box-shadow;

    .link-icon---container {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .link-icon {
        opacity: 1;
        transform: scale(1);
    }

    .scene__item--delete {
        opacity: 1;
    }
}

.scene-nav,
.scene-preview {
    max-width: 240px;
    width: 100%;
}

.scene-preview {
    text-align: center;
}

.scene-preview--widget {
    background-color: $white;
    box-shadow: 0 2px 4px rgba($black, 0.2);
    margin-bottom: 40px;
    position: relative;
}

.scene-preview__section-title {
    text-align: left;
}

.scene-preview__header {
    @include position(relative);
    @include size(100% 60px);
    @include padding(23px 0);
}

.scene-preview__display {
    @include padding(20px 20px 40px);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(244, 244, 244, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f4f4f4', GradientType=1);
}

.scene-preview__icon {
    @include display(flex);
    @include justify-content(center);
    height: 60px;
    max-width: 50px;
    width: 100%;
}

.scene-preview__color-picker {
    @include padding(10px 30px 30px);
    border-bottom: 1px solid $grey;
}

.scene-preview__color-style-wrap {
    margin-top: 15px;
    position: relative;
    width: 93px;
}

.scene-preview__color-style-button {
    @include size(18px 18px);
    background-color: $btn-blue;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}

#scene-preview__color-style-gradient {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(149, 149, 159, 1) 100%);
    border: 2px solid $grey-2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#95959f', GradientType=0);
}

#scene-preview__color-style-image {
    background-color: rgba($btn-blue, 0);
    background-image: url('/assets/img/icon-image.svg');
    background-repeat: no-repeat;
    background-size: 18px 18px;
    border: 2px solid $grey-2;
}

.scene-preview__color-picker-wrap {
    margin-top: 15px;
}

.scene-preview__privacy {
    @include position(relative);
    @include size(100% 60px);
    @include padding(23px 0);
}

.add-icon {
    margin-right: 10px;
    max-width: 25px;
}

.mobile-icon {
    max-width: 15px;
}

.cardboard-icon {
    max-width: 25px;
}

.preview-icon {
    @include margin(25px 0);
    max-width: 100%;
}

.scene__item--delete {
    @extend %icon-button;
    opacity: 0;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
}

.scene-delete_icon {
    width: 10px;
}

.drop-box--container {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex(100%);
    @include margin(50px null null 240px);
    border: 2px dashed $pink;
    color: $pink;
    cursor: pointer;
    display: none;
    height: 300px;
    padding: 25px;
    text-align: center;

    &.empty {
        display: block;
        margin: 0;
    }
}

.drop-box {
    width: 100%;
}

.drop-box__button {
    @extend %reset-button;
    background-color: $btn-blue;
    border-radius: 2px;
    color: $white;
    height: 40px;
    margin-top: 40px;
    width: 160px;
}

.drop-box__button--hidden {
    visibility: hidden;
}

.dragover > .project-details {

    &::before {
        @extend %headline;
        @include align-items(center);
        @include display(flex);
        @include justify-content(center);
        background-color: $deep-navy;
        color: $pink;
        content: 'Drop Images Here';
        font-size: 50px;
        height: 100vh;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: $z-epsilon;
    }

    &::after {
        border: 2px dashed $pink;
        content: '';
        height: calc(100vh - 100px);
        left: 0;
        margin: 50px;
        position: fixed;
        top: 0;
        width: calc(100vw - 100px);
        z-index: $z-epsilon;
    }
}

.modal-body {
    @include outer-container;
    @include padding(50px $site-gutter 50px);
    position: relative;
}

.modal-body__items {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(left);
    counter-reset: sceneImage;
    width: 100%;
}

.modal-body__item--wrapper {
    @include size(125px 100px);
    background-color: rgba(#edbbf4, 0.5);
    margin: 0 13px 30px 0;
    position: relative;

    &:nth-child(4n) {
        margin-right: 0;
    }
}

.modal-body__image {
    background-color: $navy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $white;
    box-sizing: border-box;
    cursor: pointer;
    height: 100%;
    padding-top: 14px;
    position: absolute;
    text-align: center;
    width: 100%;

    &.selected {
        border: 2px solid $btn-blue;
    }
}

.modal-body__item--label {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 80%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 3px;
}

.scene-preview--mobile,
.drop-box__button--mobile {
    display: none;
}

.project-details__footer {
    @include position(fixed);
    @include size(100% 50px);
    background-color: $navy;
    bottom: 0;
    left: 0;
    z-index: $z-epsilon + 10;

    &::before {
        @extend %gradient;
        content: '';
        display: block;
        height: 3px;
        position: relative;
        width: 100%;
    }
}

.scene-preview__button {
    @extend %reset-button;
    @include size(60px 60px);
    @include align-horizontally(absolute);
    background-color: $deep-navy;
    border: 2px solid $white;
    border-radius: 60px;
    margin-top: -30px;

    &:focus {
        outline: none;
    }
}

.scene-preview__button__icon {
    @include position(absolute, 50% 50%);
    @include size(22px 28px);
    background: url('/assets/img/icon-play.svg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    transform: translate(-35%, -50%);
}

@include media($tablet) {

    .project-details {
        @include display(block);
    }

    .project__items {
        @include order(1);
    }

    .scene-nav {
        max-width: none;
        width: 100%;
    }

    .scene-list {
        display: none;

        &.active {
            display: block;
        }
    }

    .scene-nav--selector {
        @include margin(0 20px 0 0);
        color: $black;
        display: block;
        font-family: 'OpenSans', sans-serif;
        font-size: 20px;
        margin-bottom: 50px;
        text-decoration: none;
        width: 100%;

        a {
            color: $btn-blue;
            font-size: 20px;
            text-decoration: none;
        }
    }

    .scene-list--link {
        @include padding(10px 15px);
        border-bottom: 1px solid $input-grey;
        width: 100%;

        &.active {
            background-color: $btn-blue;
            color: $white;
        }
    }

    .scene-list--title {
        width: 73%;
    }

    .scene-list--icon {
        opacity: 1;
        top: 7px;
    }

    .scene-list--delete {
        height: 28px;
        right: 18px;
        width: 17px;
    }

    .scene-list--edit {
        height: 30px;
        right: 52px;
        width: 19px;
    }

    .scene-add {
        margin-bottom: 20px;
    }

    .scene--link {
        @include item-box-shadow;
    }

    .scene-preview {
        @include order(3);
        max-width: 100%;
    }

    .scene-preview--widget {
        display: none;
    }

    .scene-preview--mobile {
        display: block;
        margin-bottom: 20px;
    }

    .mobile-btn-container {
        width: 100%;
    }

    .scene-preview__icon {
        display: inline-block;
        margin-right: 10px;
        max-width: auto;
        vertical-align: middle;
        width: auto;
    }

    .mobile-icon,
    .cardboard-icon {
        height: 60px;
    }

    .drop-box--container,
    .drop-box--container.empty {
        display: none;
    }

    .drop-box__header {
        display: none;
    }

    .drop-box__button {
        display: none;
    }

    .drop-box__button--mobile {
        display: block;
        height: 60px;
        margin: 0 0 50px;
        width: 100%;
    }

    .dragover > .project-details {
        &::before {
            content: none;
        }

        &::after {
            content: none;
        }
    }

    .project-details__footer {
        @include transition(left, $transition-speed);
        background-color: $grey;
        box-shadow: 4px 2px 12px rgba($black, 0.5);
        left: 0;

        &.slide-menu-open {
            left: 60%;
        }

        &::before {
            display: none;
        }
    }

    .project-details__mobile-menu-btn {
        @include position(absolute, 15px 20px);
        @include size(25px 20px);

        span {
            @include position(absolute, 0 10px);
            @include size(4px 4px);
            background-color: $btn-blue;
            border-radius: 4px;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 7px;
            }

            &:nth-child(3) {
                top: 14px;
            }
        }
    }

    .scene-preview__button {
        background-color: $pink;
        border: 1px solid rgba($white, 0);
        box-shadow: 1px 2px 4px rgba($black, 0.2);
    }

    .project-details__slide-menu {
        @include position(fixed, 0 -100%);
        @include size(100% 100%);
        @include transition(left, $transition-speed);
        z-index: $z-epsilon;

        &.slide-menu-open {
            left: 0;
        }
    }

    .project-details__slide-menu-inner {
        @include size(60% 100%);
        @include position(absolute, 0px 0px);
        background-color: $grey;
        box-shadow: inset -10px 0px 25px -10px rgba($black, 0.5);
    }

    .project-details__slide-menu-right {
        @include size(40% 100%);
        @include position(absolute, 0px 60%);
    }

    .project-details__mobile-menu-list {
        margin-top: 100px;
    }

    .project-details__mobile-menu-header {
        @include margin(0 0 20px 17px);
    }
}

@include media($phablet) {
    .modal-body__item--wrapper {
        @include size(100px);
        margin: 0 20px 30px 0;

        &:nth-child(3n) {
            margin-right: 0;
        }

        &:nth-child(4n) {
            margin-right: 20px;
        }
    }
}

@include media($mobile) {
    .modal-body__item--wrapper {
        height: 0;
        margin: 0 0 30px;
        padding-bottom: 50%;
        width: 50%;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    .modal-body__item--label {
        margin-top: 100%;
        top: 0;
    }
}
