<div class="reset-password">
    <div class="reset-password__inner">
        <div
            class="reset-logo-link"
            href="#">
            <img
                class="logo"
                src="assets/img/vg-logo-new.svg">
        </div>
        <div class="reset-modal-overlay">
            <div class="modal">
                <form ng-submit="submit(model)">
                    <div class="modal-header">
                        <h3>Reset Password</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input
                                class="modal-input"
                                placeholder="New Password"
                                value=""
                                id="password"
                                type="password"
                                ng-model="model.password"
                                required />
                        </div>
                        <div class="form-group">
                            <input
                                class="modal-input"
                                placeholder="Confirm Password"
                                value=""
                                id="confirm-password"
                                type="password"
                                ng-model="model.confirm"
                                ng-keyup="checkPass()"
                                required />
                        </div>
                        <span
                            id="confirm-message"
                            ng-class="{'error': passMismatch}"
                            ng-bind="passMessage"></span>
                    </div>
                    <div class="modal-footer">
                        <button
                            class="modal-submit modal-button"
                            type="submit"
                            ng-disabled="loginForm.$invalid">
                            Submit
                        </button>
                    </div>
                    <div class="reset-message">{{resetMessage}}</div>
                </form>
            </div>
            <a class="reset-link" href="/sign-in">Back to Sign In</a>
        </div>
    </div>
</div>
