.account {
    @include clearfix;
    @include outer-container;
    @include padding(50px $site-gutter 50px);
    position: relative;
}

.account-account-nav {
    @extend %uppercase;
    float: left;
    width: 20%;
}

.account-body {
    float: left;
    height: 500px;
    width: 80%;
}

.account-avatar-container {
    margin-left: 5px;
    position: relative;
}

.account-avatar-inner,
.account-billing-inner {
    @include clearfix;
    padding-bottom: 30px;
    position: relative;
}

.account-avatar-inner {
    border-bottom: 1px solid $grey-dark;
}

.account-billing-inner {
    @include clearfix;

    & + & {
        border-bottom: 1px solid $grey-dark;
    }
}

.account-avatar-title,
.account-avatar-image-container,
.account-avatar-button-container,
.account-billing-button-container {
    display: block;
    float: left;
}

.account-avatar-title,
.account-billing-title {
    @extend %uppercase;
    @extend %h7;
    color: $coal;
    margin-top: 60px;
    width: 20%;
}

.billing {

    .account-avatar-title,
    .account-billing-title {
        margin-top: 15px;
    }

    .account-avatar-image-upload {
        top: 5px;
    }
}

.account-avatar-image {
    @include size(120px);
    border-radius: 50%;
}

.account-avatar-image-upload,
.account-billing-update-button {
    @extend %h7;
    @include padding(12px 25px);
    @include position(relative, 50px null null 50px);
    border: 1px solid $btn-blue;
    color: $btn-blue;
    text-decoration: none;
}

.account-billing-update-button {
    @include position(relative, 8px null null 20px);
    background-color: rgba($white, 0);
}

.account-info-section {
    @include clearfix;
    @include padding(10px);
    margin-top: 60px;
    position: relative;

    &.account-info-section-exp-sec {

        .account-info-title {
            width: 20%;
        }

        .account-info-data {
            width: 40%;

            &:first-of-type {
                width: 20%;
            }
        }
    }
}


.account-info-title {
    @extend %uppercase;
    @extend %h7;
    color: $coal;
    display: block;
    float: left;
    margin-top: 0.7692307692em;
    width: 20%;
}

.account-info-data {
    @extend %h2;
    background: none;
    border: none;
    color: $navy;
    display: block;
    float: left;
    width: 80%;

    @include placeholder {
        color: $navy;
    }
}

.account-info-billing,
.account-info-billing-price {
    @extend %h2;
    color: $navy;
    float: left;
}

.account-info-billing-price {
    color: $grey-darkest;
    margin-left: 0.8em;
}


.account-info-button {
    @include size(120px 40px);
    margin-top: 124px;
}

.account-billing-title,
.account-billing-toggle,
.account-billing-statement {
    display: block;
    float: left;
}

.account-billing-title {
    position: relative;
}

.account-billing-toggle {
    margin-top: 6px;
    position: relative;
}

.account-billing-toggle-bg,
.account-billing-toggle-dial {
    position: absolute;
}

.account-billing-toggle-bg {
    @include size(50px 20px);
    background-color: #67C500;
    border-radius: 10px;
    // box-shadow: inset 1px 1px 5px rgba($black, 0.5);
    margin-top: 6px;
}

.account-billing-toggle-dial {
    @include size(30px);
    background-color: $white;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba($black, 0.5);
    z-index: 1;
}

.account-billing-statement-text {
    @extend %h7;
    color: $navy;
    font-style: italic;
    margin-left: 80px;
    position: relative;
    top: 10px;
}
