<div ui-view class="billing">
    <div
        account-nav
        class="account-account-nav">
    </div>
    <div class="account-body">
        <div class="account-billing">
            <div class="account-billing-inner">
                <div class="account-billing-title">
                    Current Plan
                </div>
                <div class="account-billing-plan">
                    <span class="account-info-billing">
                        {{type}}
                    </span>
                </div>
                <div class="account-billing-button-container">
                    <button
                        class="account-billing-update-button"
                        ng-click="showModal(billing)">
                        Change Plan
                    </button>
                </div>
            </div>
            <div
                class="account-billing-inner"
                ng-class="{'account-billing-info--hide': !showCardInfo};">
                <div class="account-billing-title">
                        Annual Billing
                </div>
                <div class="account-billing-toggle">
                    <toggle-switch
                        disabled="true"
                        color="true"
                        ng-model="monthlyBilling"
                        on-label="ON"
                        off-label="OFF">
                    </toggle-switch>
                </div>
                <div class="account-billing-statement">
                    <span
                        class="account-billing-statement-text"
                        ng-show="annualBilling"
                        ng-bind="monthlyStatement">
                    </span>
                    <span
                        class="account-billing-statement-text"
                        ng-hide="annualBilling"
                        ng-bind="annualStatement">
                    </span>
                </div>
            </div>
        </div>
        <div
            class="account-billing-info"
            ng-class="{'account-billing-info--hide': !showCardInfo};">
            <form ng-submit="updateUser(model)">
                    <div class="account-info-section">
                        <input
                            class="account-info-data"
                            type="checkbox"
                            name="paymentType"
                            id="paymentType"
                            value="{{plan_name}}"
                            ng-model="model.paymentType"
                            ng-change="paymentType(model.paymentType)"
                            ng-checked="annualBilling" />
                        <label for="paymentType">Professional Package @ $25/mo</label>
                    </div>
                <div class="account-info-section">
                     <div class="account-info-title">
                        Name on Card
                    </div>
                    <input
                        class="account-info-data"
                        type="name"
                        ng-model="model.cardName"
                        placeholder="{{name}}"
                        required />
                </div>
                <div class="account-info-section">
                    <div class="account-info-title">
                        Credit Card Number
                    </div>
                    <input
                        class="account-info-data"
                        type="text"
                        ng-model="model.cardNumber"
                        placeholder="{{number}}"
                        required />
                </div>
                <div class="account-info-section account-info-section-exp-sec">
                    <div class="account-info-title">
                        Expiration Month
                    </div>
                    <select
                        class="account-info-data"
                        name="month"
                        id="month"
                        onchange=""
                        size="1"
                        ng-model="model.month"
                        required >
                        <option value="01">January</option>
                        <option value="02">February</option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <div class="account-info-title">
                        Expiration Year
                    </div>
                    <select
                        class="account-info-data"
                        name="year"
                        id="year"
                        onchange=""
                        size="1"
                        ng-model="model.year"
                        required >
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                    </select>
                    <div class="account-info-title ">
                        Security Code
                    </div>
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.cvc"
                        placeholder="{{cvc}}"
                        required />
                </div>
                <div class="account-info-section">
                    <div class="account-info-title">
                        Zip Code
                    </div>
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.zip"
                        placeholder="{{zip}}"
                        ng-minlength="5"
                        required />
                </div>
                <div class="account-info-section">
                    <input
                        class="billing-info-button modal-submit modal-update modal-button"
                        type="submit"
                        value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
