<div ui-view class="billing">
    <div
        account-nav
        class="account-account-nav">
    </div>
    <div class="account-body">
        <div class="account-billing">
            <div class="account-billing-inner">
                <div class="account-billing-title">
                    Current Plan
                </div>
                <div class="account-billing-image-container">
                    <span class="account-info-billing">
                        Team
                    </span>
                    <span class="account-info-billing-price">
                        $29/mo
                    </span>
                </div>
                <div class="account-billing-button-container">
                    <button
                        class="account-billing-update-button"
                        ng-click="showModal(billing)">
                        Change Plan
                    </button>
                </div>
            </div>
            <div class="account-billing-inner">
                <div class="account-billing-title">
                        Annual Billing
                </div>
                <div class="account-billing-toggle">
                    <toggle-switch
                        ng-model="sceneTypeToggle">
                    </toggle-switch>
                </div>
                <div class="account-billing-statement">
                    <span class="account-billing-statement-text">
                        Next Payment of $348 will be processed on 12/01/2018
                    </span>
                </div>
            </div>
        </div>
        <div class="account-info">
            <form ng-submit="UpdateUser(model)">
                    <div class="account-info-section">
                        <input
                                class="account-info-data"
                                type="checkbox"
                                name="paymentType"
                                id="paymentType"
                                value="year"
                                ng-model="model.paymentType"
                                ng-change="paymentType(model.paymentType)"/>
                                <label for="paymentType">Professional Package @ $25/mo</label>
                    </div>
                     <div class="account-info-title">
                        Name on Card
                    </div>
                    <input
                        class="account-info-data"
                        type="name"
                        ng-model="model.cardName"
                        placeholder="JamieMcDoodoo"
                        required />
                </div>
                <div class="account-info-section">
                    <div class="account-info-title">
                        Credit Card Number
                    </div>
                    <input
                        class="account-info-data"
                        type="text"
                        ng-model="model.cardNumber"
                        placeholder="4644569855553427"
                        required />
                </div>
                <div class="account-info-section account-info-section-exp-sec">
                    <div class="account-info-title">
                        Expiration date
                    </div>
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.month"
                        placeholder="0"
                        required />
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.year"
                        placeholder="2018"
                        required />
                    <div class="account-info-title ">
                        Security Code
                    </div>
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.cvc"
                        placeholder="343"
                        required />
                </div>
                <div class="account-info-section">
                    <div class="account-info-title">
                        Zip Code
                    </div>
                    <input
                        class="account-info-data"
                        type="number"
                        ng-model="model.zip"
                        placeholder="90005"
                        required />
                </div>
                <div class="account-info-section">
                    <input
                        class="modal-submit modal-button"
                        type="submit"
                        ng-disabled="model.$invalid"
                        ng-class="{'button-disable': disableButton === true}"
                        value="Update">
                </div>
            </form>
        </div>
    </div>
</div>
