

.space {
    height: 100%;
    position: relative;
    width: 100%;
}

.space-container {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.button-ui {
    left: 0;
    position: absolute;
    top: 100px;
    z-index: 2;
}

.exit-btn {
    z-index: 3;
}

.webvr-ui-svg-error,
.webvr-ui-svg {
    fill: #ABABAB;
}

.webvr-ui-button {
    background: transparent;
    border: none;

    .webvr-ui-svg-error {
        display: none;
    }

    &.webvr-ui--exit {

        .webvr-ui-svg-error {
            display: block;
        }

        .webvr-ui-svg {
            display: none;
        }
    }
}

.body--page-publicViewer,
.body--page-viewer {
    overflow: hidden;
}

.body--hotspot-hovered {
    cursor: pointer;
}
