

.space {
    height: 100%;
    position: absolute;
    width: 100%;
}

.space-container {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.button-ui {
    bottom: 13px;
    position: absolute;
    right: 8px;
    z-index: 2;

    .webvr-ui-button {
        border: none;
        height: 21px;
        min-width: 0;
    }

    .webvr-ui-title {
        display: none !Important;
    }

    .webvr-ui-svg,
    .webvr-ui-svg-error {
        display: initial;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
    }

    .webvr-ui-svg {
        margin-top: -1px;
    }

    .webvr-ui-svg-error {
        margin-top: -4px;
    }
}

.exit-btn {
    z-index: 3;
}

.webvr-ui-logo {
    height: 15px;
    left: -11px;
    position: relative;
    top: 2px;
    width: 23px;
}

.webvr-ui-svg-error,
.webvr-ui-svg {
    fill: #fff;
    transform: scale(0.8, 0.8);
}

.webvr-ui-button {
    background: transparent;
    border: none;

    .webvr-ui-svg-error {
        display: none;
    }

    &.webvr-ui--exit {

        .webvr-ui-svg-error {
            display: block;
        }

        .webvr-ui-svg {
            display: none;
        }
    }
}

.body--page-publicViewer,
.body--page-viewer {
    overflow: hidden;
}

.body--hotspot-hovered {
    cursor: pointer;
}

.webvr-button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    display: inline-block;
    height: 25px;
}

@media screen and (max-width: 767px) {

    .button-ui {
        bottom: 10px;
    }

    .webvr-button {
        height: 21px;
    }

    .webvr-ui-logo {
        top: -4px;

        .webvr-ui-svg-error {
            margin-top: 0;
        }

        .webvr-ui-svg {
            margin-top: 3px;
        }
    }

    .webvr-ui-svg-error,
    .webvr-ui-svg {
        transform: scale(0.6, 0.6);
    }
}
