

.space {
    height: 100%;
    position: absolute;
    width: 100%;
}

.space-container {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

.viewer__cta {
    position: relative;
    top: 5px;
}

.button-ui {
    bottom: 13px;
    position: absolute;
    right: 15px;
    z-index: 2;

    .webvr-ui-button {
        border: none;
        height: 14px;
        min-width: 0;
        padding: 0;
    }

    .webvr-ui-title {
        display: none !Important;
    }

    .webvr-ui-svg,
    .webvr-ui-svg-error {
        bottom: 0 !important;
        display: block;
        left: 0 !important;
        margin-left: 0;
        margin-top: 0;
        padding: 0;
        position: absolute;
        right: 0 !important;
        top: -2px;
    }

    .webvr-ui-svg-error {
        left: 0px !important;
        top: -2px;
    }

    .webvr-ui-svg {
        bottom: 0 !important;
        left: 0 !important;
        right: 0 !important;
        top: 1px;
    }
}

.exit-btn {
    z-index: 3;
}

.webvr-ui-logo {
    height: 18px;
    left: 1px;
    position: relative;
    top: 3px;
    width: 24px;
}



.webvr-ui-svg-error,
.webvr-ui-svg {
    fill: #fff;
    transform: scale(0.8, 0.8);
}

.webvr-ui-button {
    background: transparent;
    border: none;
    display: block !important;

    .webvr-ui-svg-error {
        display: none;
    }

    &.webvr-ui--exit {

        .webvr-ui-svg-error {
            display: block;
        }

        .webvr-ui-svg {
            display: none;
        }
    }
}

.body--page-publicViewer,
.body--page-viewer {
    overflow: hidden;
}

.body--hotspot-hovered {
    cursor: pointer;
}

.webvr-button {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    height: 25px;
    width: 28px;
}

@media screen and (max-width: 767px) {

    .viewer__cta {
        left: 0;
        margin-top: 10px;
        padding: 0 4px;
        position: relative;
        transform: scale(0.8);
    }

    .webvr-ui-logo {
        left: 0;
        top: 1px;
    }

    .webvr-button {
        height: 21px;
        width: 25px;
    }

    .webvr-ui-svg-error {
        bottom: 0 !important;
        left: -1px !important;
        right: 0 !important;
        top: -5px;
    }

    .webvr-ui-svg {
        left: 1px;
        top: 1px;
    }

    .webvr-ui-svg-error,
    .webvr-ui-svg {
        transform: scale(0.6, 0.6);
    }
}
