.sign-in {
    @include linear-gradient(to right, #5de0e9 0%, #5b9df9 50%, #ec39e5 100%);
    min-height: 100vh;

    .form-group {
        border-bottom: 1px solid $grey-dark;
    }

    .modal {
        box-shadow: 2px 1px 10px rgba($black, 0.3);
    }

    .modal-body {
        @include padding(20px 0);
        overflow: hidden;
        width: 100%;
    }

    .modal-header {

        h3 {
            text-transform: capitalize;
        }

        &::after {
            width: 400px;
        }
    }

    .modal-input {
        @include margin(0 null null 25px);
        border: none;
        display: inline-block;
        text-transform: uppercase;

        @include placeholder {
            color: #a3a3ac;
        }
    }

    .sign-in-modal-error {
        @include padding(10px 5px);
        border-radius: 2px;
        color: #ec39e5;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-top: 5px;
        text-decoration: none;
    }
}

.sign-in-inner {
    @include padding(100px null);
    position: relative;
}

.sign-in-logo-link {
    text-align: center;

    .logo {
        width: 250px;

        .vg-logo {
            @include size(100%);
        }
    }
}

.sign-in-modal-overlay {
    @include align-horizontally(absolute);
    margin-top: 50px;
    width: 400px;
    z-index: $z-epsilon;
}

.sign-in__modal {
    @include size(200px);
    background-color: #fff;

    .modal-overlay {
        background-color: rgba(0, 0, 0, 0);
    }
}

.input-icon {
    @include position(relative, 30px null null);
    display: inline-block;
}

@include media($phablet) {

    .sign-in {
        @include padding(null 16px);

        .modal {
            @include padding(20px);
            max-width: none;
        }

        .modal-body {
            @include padding(0 0 10px 0);
        }

        .modal-header {
            padding: 0;

            &::after {
                display: none;
            }
        }

        .modal-input {
            font-size: 12px;
        }
    }

    .sign-in-modal-overlay {
        margin-top: 50px;
        position: relative;
        width: 100%;
    }

    .sign-in-inner {
        @include padding(40px null);
    }

    .sign-in-logo-link {

        .logo {
            width: 125px;

            .vg-logo {
                @include size(100%);
            }
        }
    }

}
