<div class="modal-overlay">
    <div class="modal">
        <form>
            <div class="modal-header">
                <h3>{{title}}</h3>
                <button class="modal-close" type="button" ng-click="cancel()">
                    <img class="modal-close--icon" src="assets/img/modal-close.svg" />
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-repeat="label in formLabels">
                    <label class="modal-label">{{label.title}}</label>
                    <input class="modal-input" placeholder="{{label.title}}" value="test" ng-model="input.fields[label.name]" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-button modal-submit" type="button" ng-click="save()">{{buttonTextLink}}</button>
                <button class="modal-button modal-cancel" type="button" ng-click="cancel()">{{buttonTextCancel}}</button>
        </form>
    </div>
</div>
