<div class="modal-overlay">
    <div class="modal modal--payment">
        <form>
            <div class="modal-header">
                <h3 class="modal-header-section">{{title}}</h3>
                <h3 class="modal-header-section">{{currentPlan}}</h3>
                <button class="modal-close" type="button" ng-click="cancel()">
                    <img class="modal-close--icon" src="assets/img/modal-close.svg" />
                </button>
            </div>
            <div class="modal-body modal-body--grey">
                <div class="form-group">
                    <label class="modal-label">Payment Details</label>
                </div>
                <form ng-submit="updateUser(model)">
                        <div class="account-info-section">
                            <input
                                class="account-info-data"
                                type="checkbox"
                                name="paymentType"
                                id="paymentType"
                                value="year"
                                ng-model="model.paymentType"
                                ng-change="paymentType(model.paymentType)"/>
                            <label for="paymentType">Professional Package @ $25/mo</label>
                        </div>
                         <div class="account-info-title">
                            Name on Card
                        </div>
                        <input
                            class="account-info-data"
                            type="name"
                            ng-model="model.cardName"
                            placeholder="JamieMcDoodoo"
                            required />
                    <div class="account-info-section">
                        <div class="account-info-title">
                            Credit Card Number
                        </div>
                        <input
                            class="account-info-data"
                            type="text"
                            ng-model="model.cardNumber"
                            placeholder="4644569855553427"
                            required />
                    </div>
                    <div class="account-info-section account-info-section-exp-sec">
                        <div class="account-info-title">
                            Expiration date
                        </div>
                        <input
                            class="account-info-data"
                            type="number"
                            ng-model="model.month"
                            placeholder="0"
                            required />
                        <input
                            class="account-info-data"
                            type="number"
                            ng-model="model.year"
                            placeholder="2018"
                            required />
                        <div class="account-info-title ">
                            Security Code
                        </div>
                        <input
                            class="account-info-data"
                            type="number"
                            ng-model="model.cvc"
                            placeholder="343"
                            required />
                    </div>
                    <div class="account-info-section">
                        <div class="account-info-title">
                            Zip Code
                        </div>
                        <input
                            class="account-info-data"
                            type="number"
                            ng-model="model.zip"
                            placeholder="90005"
                            required />
                    </div>
                    <div class="account-info-section">
                        <input
                            class="modal-submit modal-button"
                            type="submit"
                            ng-disabled="model.$invalid"
                            ng-class="{'button-disable': disableButton === true}"
                            value="Update"
                            ng-click="close()">
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
