<div class="modal-overlay">
    <div class="modal modal--payment">
        <form>
            <div class="modal-header">
                <h3 class="modal-header-section">{{title}}</h3>
                <h3 class="modal-header-section">{{currentPlan}}</h3>
                <button class="modal-close" type="button" ng-click="cancel()">
                    <img class="modal-close--icon" src="assets/img/modal-close.svg" />
                </button>
            </div>
            <div class="modal-body modal-body--grey">
                <div class="form-group">
                    <label class="modal-label">Payment Details</label>
                    <input class="modal-input" placeholder="{{label.title}}" value="test" ng-model="input.fields[label.name]" type="text" />
                </div>
                <div class="form-group" ng-show="showFileUpload">
                    <label class="modal-label" for="exampleInputFile">File input</label>
                    <input class="modal-input" placeholder="{{label.title}}" type="file" id="exampleInputFile">
                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-submit modal-button" type="button" ng-click="close()">{{buttonText}}</button>
            </div>
        </form>
    </div>
</div>
