<div class="modal-overlay">
    <div class="modal-body">
        <form>
            <h3>{{title}}</h3>
            <label>{{confirmText}}</label>
            <button type="button" ng-click="close(true)">{{buttonText}}</button>
            <button type="button" ng-click="close(false)">Cancel</button>
            <button class="modal-close" type="button" ng-click="close(false)">
                <img class="modal-close--icon" src="assets/img/modal-close.svg" />
            </button>
        </form>
    </div>
</div>