<div class="modal-overlay modal-overlay--hotspots">
    <div class="modal-background" ng-click="close()"></div>
    <div class="modal">
        <form>
            <div class="modal-header">
                <h3>Edit Hotspots</h3>
                <button class="modal-close" type="button" ng-click="close()">
                    <img class="modal-close--icon" src="assets/img/modal-close.svg" />
                </button>
            </div>
            <div class="modal-body">
                <div class="hotspots">
                    <div
                        hotspot-editor
                        content="content"></div>
                </div>
            </div>
        </form>
        <div class="hotspot-settings">
            <div>
                Current:
                <p>index {{current.index}}</p>
                <p>x {{current.x}}, y {{current.y}}</p>
                <p>w: {{current.width}}, h:{{current.height}}</p>
            </div>
            <select>
                <option>Scene</option>
                <option ng-repeat="scene in scenes">{{scene.title}}</option>
            </select>
            <button ng-click="save()" class="modal-submit modal-button" type="button">Save</button>
            <button ng-click="cancel()" class="modal-button modal-cancel" type="button">Cancel</button>
            <button ng-click="remove()" class="modal-button modal-delete" type="button">Delete</button>
        </div>
    </div>
</div>
