<div class="modal-overlay">
    <div class="modal">
        <form>
            <div class="modal-header">
                <h3>{{title}}</h3>
                <button class="modal-close" type="button" ng-click="cancel()">
                    <img class="modal-close--icon" src="assets/img/modal-close.svg" />
                </button>
            </div>
            <ul class="modal-tabs">
                <li class="modal-tab"><a href="#scene">Scene</a></li>
                <!-- <li class="modal-tab"><a href="#url">Url</a></li> -->
            </ul>
            <div class="modal-body">
                <div class="modal-body__scene">
                    <div class="modal-body__items">
                        <div
                            ng-repeat="i in getScene(scenes) track by $index"
                            class="modal-body__item--wrapper">
                            <div
                                ng-click="selectScreen($index + 1)"
                                ng-class="{'selected': $index + 1 === selectedScene}"
                                style="background-image: url('{{thumbs[$index].url}}?fm=jpg&q=60&h=200&w=200&fit=max&bg=000000')"
                                class="modal-body__image">Scene {{$index + 1}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-body__url">

                </div>
            </div>
            <div class="modal-footer">
                <button class="modal-submit modal-button" type="button" ng-click="save()">{{buttonTextLink}}</button>
                <button class="modal-cancel modal-button" type="button" ng-click="cancel()">{{buttonTextCancel}}</button>
            </div>
        </form>
    </div>
</div>
