.breadcrumbs__item {
    @extend %uppercase;
    display: inline-block;
}

.breadcrumbs__link {
    color: $btn-blue;
    text-decoration: none;

    &::after {
        content: '>';
        padding-left: 5px;
    }
}
