.breadcrumbs {

    @include media($tablet) {
        display: none;
    }
}

.breadcrumbs__item {
    @extend %uppercase;
    display: inline-block;
}

.breadcrumbs__link {
    color: $btn-blue;
    font-size: 24px;
    margin-right: 20px;
    text-decoration: none;

    &::after {
        content: '>';
        padding-left: 5px;
    }
}

.breadcrumbs__current {
    font-size: 24px;
}

@include media($tablet) {

    .breadcrumbs {
        display: none;
    }

}
